@model MyDoctor.MyDoctorDB.User

@{
    ViewBag.Title = "MyProfile";
}



    @{Html.RenderPartial("_Profile"); }



<style>
    .editText{
        margin-left:60%;

    }
    .deleteText{
        /*margin-left:80%;*/
        margin-left:5%;
        position:absolute;
        margin-bottom:5%;
    }
</style>
<!--Edit Profile-->


<div class="form-group">
    <label class="col-md-3 control-label"></label>
    <div class="col-md-8">
        @*<input class="btn btn-outline-primary" id="btnSaveChanges" value="Save Changes" type="button">*@
        @Html.ActionLink("Edit My Profile", "Edit", "Patient",new {@class="btn btn-dark editText" })
        @Html.ActionLink("Delete My Profile", "ConfirmationDeleting", "Patient", new { @class = "btn btn-danger deleteText" })
        @*<span></span>
        <input class="btn btn-default btn-outline-secondary" value="Cancel" type="reset">
        <span></span>*@

    </div>
</div>





<!-- Fill the Data of the Patient-->
<script>

    //get Full Name
    var FullName = "@Model.FirstName" + " " + "@Model.LastName";
    document.getElementById("fullName").setAttribute("value", FullName);

    //get email address
    var EmailAddress = "@Model.Email";
    document.getElementById("emailAddress").setAttribute("value", EmailAddress);

    //get Phone number
    var PhoneNumber = "@Model.PhoneNumner";
    document.getElementById("phoneNumber").setAttribute("value", PhoneNumber);

    //get Date Of Birth
    var BirthDate = "@Model.DateOfBirth";
    document.getElementById("dateOfBirth").setAttribute("value", BirthDate)

</script>

