@model MyDoctor.MyDoctorDB.User

@{
    ViewBag.Title = "MyProfile";

    //Layout = "~/Views/Shared/_Layout3.cshtml";
}


<style>
    .hide-header{
        display:none;
    }
    
    .in01 {
        margin-left: 20%;
    }

        .in01:hover {
            cursor: pointer;
        }
</style>


<div class="container" style="padding-top: 60px;">

    <div class="row">

        <!-- Profile Image -->
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="text-center">
                <div class="img01">
                    <img id="image01" src="~/Templetes/Icons/png/user.png" alt="Profile Image" style="width:20%;height:20%;" /><br /><br /><br />
                </div>
            </div>
        </div>

        <!-- edit form column -->
        <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
            <h3>Personal info</h3>
            <div class="form-horizontal" role="form">

                <!-- Edit Full Name-->
                <div class="form-group">
                    <label class="col-lg-3 control-label">Your Name<span style="color:darkred;"> *</span></label>
                    <div class="col-lg-8">
                        <input class="form-control" id="fullName" value="" type="text" readonly>
                    </div>
                </div>



                <!--Edit Email Address-->
                <div class="form-group">
                    <label class="col-lg-3 control-label">Email Address<span style="color:darkred;"> *</span></label>
                    <div class="col-lg-8">
                        <input class="form-control" id="emailAddress" value="" type="email" readonly>
                    </div>
                </div>

                <!--Edit Mobilr Number-->
                <div class="form-group">
                    <label class="col-lg-3 control-label">Mobile Number<span style="color:darkred;"> *</span></label>
                    <div class="col-lg-8">
                        <input class="form-control" id="phoneNumber" value="" type="text" readonly>
                    </div>
                </div>

                <!--Edit Birth Of Date-->
                <div class="form-group">
                    <label class="col-lg-3 control-label">Birth Date<span style="color:darkred;"> *</span></label>
                    <div class="col-lg-8">
                        <input class="form-control" id="dateOfBirth" value="" type="date" readonly>
                    </div>
                </div>




            </div>
        </div>
    </div>
</div>



    @*@{Html.RenderPartial("_Profile"); }*@



<style>
    .editText{
        margin-left:60%;

    }
    .deleteText{
        /*margin-left:80%;*/
        margin-left:5%;
        position:absolute;
        margin-bottom:5%;
    }
    .btn-hide{
        display:none;
    }
    .loggedIn{
        display:inline-block;
    }
    .btn-back{
        position:absolute;
        margin-top:12%;
    }
</style>
<!--Edit Profile-->
@Html.ActionLink("<== Back To Dashboard", "PatientDashboard", "Patient", new { @class = "btn btn-primary btn-back" }) 

<div class="form-group">
    @Html.AntiForgeryToken();
    <label class="col-md-3 control-label"></label>
    <div class="col-md-8">
        @*<input class="btn btn-outline-primary" id="btnSaveChanges" value="Save Changes" type="button">*@
        @Html.ActionLink("Edit My Profile", "Edit", "Patient", new { id = Model.ID }, new {@class="btn btn-dark editText" })
        @Html.ActionLink("Delete My Profile", "ConfirmationDeleting2", "Patient", new {id=Model.ID }   , new { @class = "btn btn-danger deleteText" })
        
       
        @*<span></span>
        <input class="btn btn-default btn-outline-secondary" value="Cancel" type="reset">
        <span></span>*@

    </div>
</div>





<!-- Fill the Data of the Patient-->
<script>

    //get Full Name
    var FullName = "@Model.FirstName" + " " + "@Model.LastName";
    document.getElementById("fullName").setAttribute("value", FullName);

    //get email address
    var EmailAddress = "@Model.Email";
    document.getElementById("emailAddress").setAttribute("value", EmailAddress);

    //get Phone number
    var PhoneNumber = "@Model.PhoneNumber";
    document.getElementById("phoneNumber").setAttribute("value", PhoneNumber);

    //get Date Of Birth
    var BirthDate = "@Model.DateOfBirth";
    document.getElementById("dateOfBirth").setAttribute("value", BirthDate)

    var title = document.getElementById("pageTitle");
    title.innerHTML="My Profile"

</script>

